{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="box-element">
	<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
	<br>
	<br>
	<table class="table">
		<tr>
			<th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
			<th><h5>Total:<strong>{{order.get_cart_total}}</strong></h5></th>
			<th>
				<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
			</th>
		</tr>
	</table>

</div>

<div class="box-element">
	<table class="table">
		<tr>
			<th class="col-md-2"></th>
			<th class="col-md-2"><h5><strong>Item</strong></h5></th>
			<th class="col-md-2"><h5><strong>Price</strong></h5></th>
			<th class="col-md-2"><h5><strong>Quantity</strong></h5></th>
			<th class="col-md-4"><h5><strong>Total</strong></h5></th>
		</tr>
		{% for item in items %}
		<tr>
			<td class="col-md-2"><img id="cart_product_img" class="thumbnail" src="{{ item.product.image.url }}">
		</td>

			<td class="col-md-2">{{ item.product.name }}</td>
			<td class="col-md-2">{{ item.product.price }}</td>
			<td class="col-md-2">{{ item.quantity }}
				<span style="display: inline-flex; margin-left: 0.2em;
			flex-direction: column;">
			        <span class="update-cart" data-product="{{ item.product.id }}" data-action="add" style="cursor: pointer;">&#9650;</span>
			        <span class="update-cart" data-product="{{ item.product.id }}" data-action="remove" style="cursor: pointer;">&#9660;</span></span></td>
			<td class="col-md-2">{{ item.get_total }}</td>
			<td></td>
		</tr>
		{% endfor %}
	</table>
</div>




{% endblock content %}